# Hosts
RESOURCEMANAGER_HOST=192.168.1.99
HISTORYSERVER_HOST=192.168.1.99
NODEMANAGER_HOSTS=(192.168.1.98 192.168.1.100 192.168.1.101)

# SSH
SSH_USER=team
SSH_KEY=/home/team/.ssh/id_ed25519
SSH_OPTS="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

# Hadoop base
HADOOP_PREFIX=/opt/hadoop
HADOOP_HOME=/opt/hadoop/current
HADOOP_USER=hadoop

# YARN dirs
YARN_LOCAL_DIR=/hadoop/yarn/local
YARN_LOG_DIR=/hadoop/yarn/logs
YARN_SYSLOG_DIR=/var/log/hadoop-yarn

# Java
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64

# Ports (web UIs должны быть доступны извне)
RM_ADDR_PORT=8032
RM_SCHED_PORT=8030
RM_TRACK_PORT=8031
RM_WEB_PORT=8088
NM_WEB_PORT=8042
HIST_RPC_PORT=10020
HIST_WEB_PORT=19888
